# App artifacts
/_build
/deps
/*.ez

erl_crash.dump

# Static artifacts
/assets/node_modules

/priv/static/
test
/log
/k8s
.env
/tmp
/content

devops/workers/provision.retry
devops/servers/provision/playbook.retry
devops/servers/deploy/playbook.retry
devops/servers/deploy/generate_configs.retry
devops/servers/provision/host
