# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
master-*.tar

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/
fun.master.iml
.env
log
assets/node_modules
tmp/
m1/
m2/
m3/
m4/
m5/
devops/workers/provision.retry
devops/servers/provision/playbook.retry
devops/servers/deploy/playbook.retry
devops/servers/deploy/generate_configs.retry
devops/servers/provision/host
