---
- hosts: workers
  vars:
    work_dir: "{{ lookup('env','PWD') }}"
  tasks:
    - name: "Install ffmpeg"
      shell: |
        sudo apt update \
        && sudo add-apt-repository -y ppa:jonathonf/ffmpeg-4 \
        && sudo apt install -qy ffmpeg

    - name: "Create dir for scripts"
      shell: |
        mkdir -p /home/scripts

    - name: "Copy scripts to remote host"
      copy: src={{ work_dir }}/scripts dest=/home

    - name: "Copy origin key to remote host"
      copy: src={{ work_dir }}/devops/origin.key dest=/home/scripts

    - name: "Set to  origin key file"
      shell: chmod 400 /home/scripts/origin.key
